body{
	margin-left: 100px;
	margin-right: 100px;
}

header{
	text-transform: uppercase;
	text-align:center;
	color: blue;
	
}

#contentResume{
	display:block;
	border: double;
}

footer{
	text-align: center;
	font-family: Courier;
}

#contentResume .Section{
	display: block;
	border:thin;
	border-style: inherit;
	opacity: 10%;
}

#contentResume .Section .SectionHeading{
	text-transform: uppercase;
	color:#FFFFFF;
	background-color: #0000FF;
}

#contentResume .Section .SectionDescription .SubSection{
	display: inline;
}
