body{
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
	font-size: 100%
}

header{
	text-transform: uppercase;
	text-align:center;
	color: blue;
	font-size: 1.5em;
}

#contentResume{
	display:block;
	border: double;
}


footer{
	text-align: center;
	font-family: Courier;
}

#contentResume .Section{
	display: block;
	border:thin;
	border-style: inherit;
	opacity: 10%;
}

#contentResume .Section .SectionHeading{
	text-transform: uppercase;
	color:#FFFFFF;
	background-image:url('TopGradient.gif');
	background-repeat: no-repeat;
	font-family: serif;
	font-style: italic;
	font-size: 1.2em;
}

.NoUnderline{
	text-decoration: none;
}

.SubSection{
	display: inline;
}

